body {
    background-image: linear-gradient(to left, #01fd23, #01fd23);
   background-size: 500% 100%;
   animation: degrede-animado 6s  infinite alternate ;
    color: black;
 }

 .cabecalho{
    color: black;
    display:flex;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 24px;
}

 .cabecalho-imagem{
    width: 20%;

 }
 .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    }
    
    * {
        margin: 0;
        padding: 0;
        }
.escola {
        background-image: linear-gradient(#01fd23,#01fd23);
        color: black;
        display:flex;
        align-items: center;
        padding: 24px 0;
                }

.imagem-escola{
            width:25%;
            }

.escola-conteudo{
          width: 35%;
          justify-content: center;
          align-items: center; }

.box-degrade{
    width: 100%;
    padding: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(9, 161, 9));
   background-size: 500% 100%;
   animation: degrede-animado 6s  infinite alternate ;
}

@keyframes degrede-animado {
    0%{ 
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}